<li class="list-group-item">
	<div class="media">
<<<<<<< HEAD
		<h4 class="media-heading">{{like.title}}</h4>
=======
		<h4 class="media-heading">{{{like.title}}}</h4>
>>>>>>> cc3f1b9c569c4d4c44504ca7b8b07d7646967f0a
		<div class="media-body">
			<img src="{{url}}" class="media-object profile-feed-img"/>
		</div>
	</div>
<<<<<<< HEAD
</li>
=======
</li>
>>>>>>> cc3f1b9c569c4d4c44504ca7b8b07d7646967f0a
