<!-- app/templates/application.hbs -->
<div class="container">
	<h2 id="title">Flickr Feed:</h2>
	<ul>
		{{#each photo in photos}}
		<li>
			{{photo.title}} ({{photo.username}}) <br>
			<img src={{photo.url}} >
		</li>
		{{/each}}
	</ul>
</div>